{% extends "base.html" %}
{% block content %}
<h1>Bienvenido a Calctree</h1>
<p>Aquí tienes algunos conversores generales. Para consultas más específicas, 
    visita las secciones correspondientes en la barra de navegación.</p>

{% for conv in converters %}
    <section class="converter-block" id="{{ conv.id }}">
        <h2>{{ conv.title }}</h2>
        <p>{{ conv.description }}</p>

        <form method="POST">
            <input type="hidden" name="converter_id" value="{{ conv.id }}">

            {% if conv.type == "single" %}
                <label for="value-{{ conv.id }}">Cantidad:</label>

                {% if input_vals.conv_id == conv.id %}
                    <input type="number" value="{{input_vals.value}}" step="any" id="value-{{ conv.id }}" name="value" required>
                {% else %}
                    <input type="number" value="" step="any" id="value-{{ conv.id }}" name="value" required>
                {% endif %}


                <label for="unit-{{ conv.id }}">Cálculo:</label>
                <select id="unit-{{ conv.id }}" name="unit" required>
                    {% for u in conv.units %}
                        <option value="{{ u.unit_res }}_{{ u.unit_in }}">{{ u.label }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Convertir</button>
            {% else %}
                {% for unit in conv.units_in %}
                    <label for="value-{{ conv.id }}-{{ unit }}">{{ unit }}:</label>
                    <input type="number" id="value-{{ conv.id }}-{{ unit }}" name="value" step="any" required>
                {% endfor %}

                <button type="submit">Calcular</button>
            {% endif %}
        </form>

        {% if results.conv_id == conv.id %}
            <div class="result-box" style="text-align: center;">
                <strong>Resultado:</strong> {{ results.string }}
            </div>
        {% endif %}
    </section>
{% endfor %}
{% endblock %}
